/* Estilo para la sección "Nosotros" */
.nosotros-section {
    padding: 10px 0;
}

/* Estilo para el contenedor flexible de la sección "Nosotros" */
.container-fluid-nosotros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Estilo para el contenido dentro de la sección "Nosotros" */
.nosotros-content {
    text-align: center;
}

/* Estilo para el título dentro de la sección "Nosotros" */
.nosotros-heading {
    font-size: 36px;
    margin-bottom: 30px;
}

/* Estilo para el texto dentro de la sección "Nosotros" */
.nosotros-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Estilo para los enlaces sociales */
.social-links {
    margin-top: 5px;
}

/* Estilo para los enlaces dentro de la sección de enlaces sociales */
.social-links a {
    color: white;
    text-decoration: none;
    margin: 5px 15px;
}

.activo {
    background-color: #050505; /* Color de fondo del enlace activo (puedes cambiarlo) */
    color: #fff; /* Color del texto en el enlace activo para asegurar la legibilidad */
}