<!-- Encabezado de la página -->
<header class="container-fluid container-header flex-sm-row flex-column" id="ch">
    <!-- Columna 2 con el logo y el nombre del sitio -->
    <div class="col-sm d-flex align-items-center mb-3 mb-sm-0">
        <!-- Contenedor para el logo -->
        <div class="mb-1 d-flex">
            <!-- Imagen del logo -->
            <img src="../images/logo.png" class="img img-fluid" alt="Imagen">
        </div>

        <!-- Enlace al inicio con el nombre del sitio como botón -->
        <a href="/" class="btn text-dark border-0">
            <!-- Título del sitio -->
            <h2 class="fst-italic text-sm text-md"><strong>EpicScape</strong></h2>
        </a>
    </div>
    <!-- Columna 4 con el botón de usuario -->
    <div class="col-sm d-flex align-items-center justify-content-end ms-md-auto me-md-0">
        <div class="mb-1">
            <% if (!session.username) { %>
                <!-- Usuario no autenticado: muestra el botón de login -->
                <a href="/users/login" class="btn text-dark border-0">
                    <img src="../images/notRegistred.png" alt="Iniciado" class="profile">
                </a>
                <% } else { %>
                    <!-- Usuario autenticado: muestra otro ícono o lo que desees -->
                    <button class="btn btn-dark dropdown-toggle p-2" type="button" id="perfilDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../images/persona.png" alt="Iniciado" class="profile">
                    </button>
                    <!-- Menú desplegable del perfil -->
                    <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                        <li><a class="dropdown-item" href="/users/perfil">Perfil</a></li>
                        <li><a class="dropdown-item" href="/users/reservas_usuario">Reservas</a></li>
                        <li><a id="logoutLink" class="dropdown-item" href="#">Cerrar Sesión</a></li>
                    </ul>
                    <% } %>
        </div>
    </div>
</header>