<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Enlaces a las hojas de estilo -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <!-- Título de la página y favicon -->
    <title>EpicScape | Login</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
</head>
<body class="bg-light">

    <!-- Encabezado con el logo y el nombre del sitio -->
    <header class="container-fluid container-header">
        <div class="col col-12 d-flex align-items-center justify-content-center">
            <!-- Contenedor para el logo -->
            <div class="mb-1">
                <img src="../images/logo.png" class="img" alt="Imagen">
            </div>
            <!-- Enlace al inicio con el nombre del sitio como botón -->
            <a href="/" class="btn text-dark border-0">
                <h2 class="fst-italic"><strong>EpicScape</strong></h2>
            </a>
        </div>
    </header>

    <main class="main-fondo d-flex align-items-center">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card border border-1 border-dark rounded">
                        <div class="card-body">
                            <h2 class="card-title text-center">Inicia Sesión</h2>
                            <form action="/users/inicio_sesion" method="post">
                                <% if (mensaje == null) { %>
                                <% } else if(mensaje) { %>
                                    <div class="alert alert-danger bg-gradient text-dark" role="alert">
                                        <%= mensaje %>
                                    </div>
                                <% } %>
                                <div class="mb-3">
                                    <label for="username" class="form-label">Nombre Usuario</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Contraseña</label><div class="input-group">
                                        <input type="password" class="form-control" id="password" name="password" required>
                                        <button type="button" class="btn btn-outline-dark" id="showPasswordBtn" onclick="togglePassword('password', 'showPasswordBtn')">Mostrar</button>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                </div>
                                <br>
                            </form>
                            <p class="text-center">¿No tienes cuenta? <a href="/users/registro">Regístrate</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Enlaces a los archivos JavaScript de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/javascripts/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
