<!-- Barra de navegación -->
<button class="menu-btn show">&#9776; Menú</button>
<nav class="navbar">
    <!-- Enlace a la página "Nosotros" con estilo de botón de navegación -->
    <a href="/nosotros" class="botonnav border-end border-1">Nosotros</a>
    <!-- Enlace a la página "Servicios" con estilo de botón de navegación -->
    <a href="/servicios" class="botonnav border-end border-1">Servicios</a>
    <!-- Enlace a la página "Populares" con estilo de botón de navegación -->
    <a href="/populares" class="botonnav">Populares</a>
</nav>

<!-- Contenedor para las opciones del menú desplegable -->
<div class="menu-content" id="menuDropdown"></div>
