<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlaces a archivos de estilo externos -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <!-- Enlaces a bibliotecas de Bootstrap y Bootstrap Icons desde un CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Título de la página y favicon -->
    <title>EpicScape | Populares</title>
    <link rel="icon" href="../images/logo.png" type="image/x-icon">
</head>

<body>
    <!-- Inclusión del encabezado y la barra de navegación -->
    <%- include('header.ejs') %>
    <%- include('nav.ejs') %>

        <!-- Barra de navegación de migas de pan -->
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb" class="border border-1 border-top-0 border-dark breadcrumb-nav">
            <ol class="breadcrumb align-items-center me-auto my-auto">
                <!-- Elementos de las migas de pan -->
                <li class="breadcrumb-item d-flex align-items-center">
                    <a href="/" class="text-decoration-none">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Populares</li>
            </ol>
        </nav>

        <!-- Contenido principal -->
        <main class="main-color container-fluid">
            <div class="container">
                <!-- Título de la sección -->
                <h1 class="text-center mb-4"><strong>Viajes Populares</strong></h1>

                <!-- Primer destino popular -->
                <div class="row mb-5">
                    <div class="col-md-6 my-auto text-center">
                        <h2>Exploración en la Selva Amazónica</h2>
                        <p>Únete a nuestra emocionante expedición a la selva amazónica, donde explorarás la flora y fauna exótica. Descubre la riqueza de la biodiversidad mientras caminas por densos bosques y participa en actividades como senderismo, avistamiento de aves y encuentros con comunidades locales. Una experiencia inolvidable para los amantes de la naturaleza y la aventura.</p>
                    </div>
                    <div class="col-md-6 mt-3 d-flex align-items-center justify-content-center">
                        <img src="https://www.raisg.org/wp-content/uploads/2022/01/1-raisg-11.jpg" alt="Selva Amazónica" class="img-fluid rounded border border-1 border-dark w-75">
                    </div>
                </div>

                <!-- Línea divisoria -->
                <hr class="mx-6">

                <!-- Segundo destino popular -->
                <div class="row mb-5">
                    <div class="col-md-6 my-auto text-center">
                        <h2>Aventura en los Andes</h2>
                        <p>Embárcate en una emocionante aventura en los majestuosos Andes. Escala altas montañas, desciende rápidos ríos en balsa y camina por senderos antiguos. Experimenta la rica cultura local mientras te sumerges en la historia fascinante de la región. Esta es una oportunidad única para los buscadores de emociones y los curiosos exploradores.</p>
                    </div>
                    <div class="col-md-6 mt-4 d-flex align-items-center justify-content-center">
                        <img src="https://www.muchbetteradventures.com/magazine/content/images/2022/06/GettyImages-1225346915--1--2.jpg" alt="Andes" class="img-fluid rounded border border-1 border-dark w-75">
                    </div>
                </div>

                <!-- Línea divisoria -->
                <hr class="mx-6">

                <!-- Tercer destino popular -->
                <div class="row">
                    <div class="col-md-6 my-auto text-center">
                        <h2>Exploración de Ruinas Mayas</h2>
                        <p>Sumérgete en la historia antigua mientras exploras las ruinas mayas en esta increíble expedición arqueológica. Visita sitios arqueológicos impresionantes, aprende sobre la civilización maya y maravíllate con las estructuras ancestrales. Esta experiencia te transportará en el tiempo y te permitirá descubrir los misterios de una de las civilizaciones más fascinantes de la historia.</p>
                    </div>
                    <div class="col-md-6 mt-3 d-flex align-items-center justify-content-center">
                        <img src="https://media.iatiseguros.com/wp-content/uploads/2017/09/04004808/ruinas-mayas-riviera-yucatan-chichen-itza.jpg" alt="Ruinas Mayas" class="img-fluid rounded border border-1 border-dark w-75">
                    </div>
                </div>
            </div>
        </main>

        <!-- Scripts externos -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="/javascripts/home.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Inclusión del pie de página -->
        <%- include('footer.ejs') %>
</body>

</html>