<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlaces a archivos de estilo externos -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <!-- Enlaces a bibliotecas de Bootstrap y Bootstrap Icons desde un CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Título de la página y favicon -->
    <title>EpicScape | Servicios</title>
    <link rel="icon" href="../images/logo.png" type="image/x-icon">
</head>

<body>
    <!-- Inclusión del encabezado y la barra de navegación -->
    <%- include('header.ejs') %>
    <%- include('nav.ejs') %>
        <!-- Barra de navegación de migas de pan -->
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb" class="breadcrumb-nav border border-1 border-top-0 border-dark">
            <ol class="breadcrumb align-items-center me-auto my-auto">
                <!-- Elementos de las migas de pan -->
                <li class="breadcrumb-item d-flex align-items-center">
                    <a href="/" class="text-decoration-none">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Servicios</li>
            </ol>
        </nav>

        <!-- Contenido principal -->
        <main class="main-color">
            <div class="container mt-3">
                <!-- Título de la sección -->
                <h1 class="text-center mb-5"><strong>Nuestros Servicios</strong></h1>

                <!-- Primer servicio -->
                <div class="row">
                    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <h2 class="text-center">Viajes Personalizados</h2>
                        <p class="mt-md-5 text-center">Nuestros expertos en viajes crearán experiencias personalizadas para satisfacer tus deseos y necesidades. Ya sea que estés buscando unas vacaciones familiares relajantes, una aventura emocionante o una escapada romántica, nosotros nos encargamos de todos los detalles para que puedas disfrutar al máximo.</p>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center mt-2">
                        <img src="https://img2.rtve.es/v/868498/?w=1600" alt="Viaje Personalizado" class="img-fluid w-100 rounded border border-1 border-dark">
                    </div>
                </div>

                <!-- Línea divisoria -->
                <hr class="my-5">

                <!-- Segundo servicio -->
                <div class="row">
                    <div class="col-md-6 order-md-2 d-flex flex-column align-items-center justify-content-center">
                        <h2 class="text-center">Tours Guiados</h2>
                        <p class="mt-md-5 text-center">Descubre los destinos más increíbles del mundo con nuestros tours guiados. Nuestros guías expertos te llevarán a lugares emblemáticos, te contarán historias fascinantes y te mostrarán la verdadera esencia de cada destino. Disfruta de una experiencia enriquecedora y sin preocupaciones.</p>
                    </div>
                    <div class="col-md-6 order-md-1 d-flex align-items-center justify-content-center mt-2">
                        <img src="https://viajesnakara.com/wp-content/uploads/2019/11/japon.jpg" alt="Tours Guiados" class="img-fluid w-100 rounded border border-1 border-dark">
                    </div>
                </div>

                <!-- Línea divisoria -->
                <hr class="my-5">

                <!-- Tercer servicio -->
                <div class="row">
                    <div class="col-md-6 mb-1 d-flex flex-column align-items-center justify-content-center">
                        <h2 class="mt-md-4 text-center">Paquetes Todo Incluido</h2>
                        <p class="mt-md-5 text-center">Relájate y déjalo todo en nuestras manos con nuestros paquetes todo incluido. Desde vuelos y alojamiento hasta actividades emocionantes y deliciosa comida local, nos aseguramos de que tengas una experiencia sin preocupaciones. Solo tienes que disfrutar y crear recuerdos inolvidables.</p>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="https://content.r9cdn.net/rimg/dimg/c5/58/d56628fa-city-23052-162e4aeda47.jpg?width=1750&height=1000&xhint=1688&yhint=1513&crop=true" alt="Paquetes Todo Incluido" class="img-fluid w-100 rounded border border-1 border-dark">
                    </div>
                </div>
            </div>
        </main>

        <!-- Inclusión de los scripts de JavaScript -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="/javascripts/home.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Inclusión del pie de página -->
        <%- include('footer.ejs') %>
</body>

</html>